<?xml version="1.0" encoding="UTF-8"?>
<module sdkVersion="3.5">
    <!--The "id" identifies your plugin globally. Must be unique, must contain only alphanumeric characters, underlines and dots and must contain at least 5 characters and a maximum of 40. Once set the ID, you should not change it;)-->
    <id>ALTERION_2023</id>
    <!--"version" is the version of your plugin. When you release a new version of your module, change here =)-->
    <version>1.0</version>
    <name>ALTERION 2023</name>
    <description>Adiciona suporte para a ficha do sistema Alterion versão 2023</description>
    <author>Psydraco</author>
    <site></site>
    <contact></contact>
</module>
